<!DOCTYPE html>
<html>
  <head>
    <title>Zaobridge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if !user_signed_in? %>
      <div class="flex h-screen justify-center">   
        <%= yield %>
      </div>
    <% else %>
    
    <%= render "layouts/navbar" %>
    <div class="flex-col">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="flex h-screen justify-center">
        <%= yield %>
      </div>
    </div>
    
    <% end %>
  </body>
</html>
